<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <header>SUSE CAP Experience Self Service</header>

  <div>
    <form method="POST" action="/user">
      <input type="email" name="email" placeholder="Email Address" aria-label="Email Address"/>
      <button type="submit" aria-label="Submit">Submit</button>
    </form>
  </div>
</body>
</html>