<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <header>SUSE CAP Experience Self Service</header>

  <div>
    Welcome <%= email %>,

    We have emailed you a temperary password and a link to log in.
  </div>

</body>
</html>